.wrapper{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 24em;
    background-color: #212121;
    img{
        height: 150px;
        width: 500px;
    }
}